*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #3c8fc7;
}
body{
    padding: 20px 20%;
    height: 100vh;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.top2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.top3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    padding: 20px 50px;
    background-color: #fff;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 22px;
    cursor: pointer;
    border: 0 solid #3c8fc7;
    overflow: hidden;
}
button:hover{
    color: #a52a2a;
    /* background: linear-gradient(#3c8fc7,#fff,#3c8fc7); */
    background: transparent;
    border: 1px solid #a52a2a;
}
#evil-button {
    position: absolute;
    white-space: nowrap;
}

@media screen and (max-width:420px){
    body{
        padding: 20px 50%;
        height: 100vh;
    }
}