*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #3c8fc7;
}
body{
    padding: 20px 20%;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.top2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.top3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    padding: 20px 50px;
    background-color: #fff;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 22px;
    cursor: pointer;
    border: 0 solid #3c8fc7;
    transition: 0.5s;
}
button:hover{
    transform: translateY(-15px);
    color: #a52a2a;
    /* background: linear-gradient(#3c8fc7,#fff,#3c8fc7); */
    background: transparent;
    border: 1px solid #a52a2a;
}